/**
 * Typography
 */
@use '../variables' as *;
@use '../mixins' as *;

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-heading;
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: $spacing-md;
}

h1 {
	font-size: 2.5rem;

	@include media-md {
		font-size: 3rem;
	}
}

h2 {
	font-size: 2rem;

	@include media-md {
		font-size: 2.5rem;
	}
}

h3 {
	font-size: 1.75rem;

	@include media-md {
		font-size: 2rem;
	}
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

p {
	margin-bottom: $spacing-md;
}

.section-heading {
	font-size: 2.5rem;
	margin-bottom: $spacing-lg;
	text-align: center;

	@include media-md {
		font-size: 3rem;
	}
}

.section-description {
	font-size: 1.1rem;
	color: $color-secondary;
	text-align: center;
	margin-bottom: $spacing-xl;
}
