/**
 * Transitions
 */
@use '../variables' as *;

.transition-all {
	transition: $transition-base;
}

.transition-fast {
	transition: $transition-fast;
}

.transition-slow {
	transition: $transition-slow;
}
