/**
 * Mixins
 */
@use 'variables' as *;

// Media queries
@mixin media-xs {
	@media (min-width: $breakpoint-xs) {
		@content;
	}
}

@mixin media-sm {
	@media (min-width: $breakpoint-sm) {
		@content;
	}
}

@mixin media-md {
	@media (min-width: $breakpoint-md) {
		@content;
	}
}

@mixin media-lg {
	@media (min-width: $breakpoint-lg) {
		@content;
	}
}

@mixin media-xl {
	@media (min-width: $breakpoint-xl) {
		@content;
	}
}

@mixin media-xxl {
	@media (min-width: $breakpoint-xxl) {
		@content;
	}
}

// Flex
@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

// Positioning
@mixin absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// Text overflow
@mixin text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin text-line-clamp($lines: 2) {
	display: -webkit-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
