/* Error: Undefined mixin.
 *    ,
 * 8  | /     @include media-lg {
 * 9  | |         padding: 80px 0;
 * 10 | \     }
 *    '
 *   assets/scss/modules/features.scss 8:2  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 8  \2502  \250c      @include media-lg {\a 9  \2502  \2502          padding: 80px 0;\a 10 \2502  \2514      }\a    \2575 \a   assets/scss/modules/features.scss 8:2  root stylesheet";
}
