/* Error: Undefined mixin.
 *    ,
 * 11 | /     @include media-lg {
 * 12 | |         padding: 100px 0;
 * 13 | |         min-height: 600px;
 * 14 | \     }
 *    '
 *   assets/scss/modules/hero.scss 11:2  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 11 \2502  \250c      @include media-lg {\a 12 \2502  \2502          padding: 100px 0;\a 13 \2502  \2502          min-height: 600px;\a 14 \2502  \2514      }\a    \2575 \a   assets/scss/modules/hero.scss 11:2  root stylesheet";
}
