/**
 * Container
 */
@use '../variables' as *;
@use '../mixins' as *;

.container {
	width: 100%;
	max-width: $container-max-width;
	margin: 0 auto;
	padding-left: $spacing-md;
	padding-right: $spacing-md;

	@include media-sm {
		padding-left: $spacing-lg;
		padding-right: $spacing-lg;
	}

	@include media-md {
		padding-left: $spacing-xl;
		padding-right: $spacing-xl;
	}
}
