/**
 * Grid System
 */
@use '../variables' as *;
@use '../mixins' as *;

.grid {
	display: grid;
	gap: $spacing-md;

	@include media-md {
		gap: $spacing-lg;
	}
}

.grid-2 {
	@extend .grid;
	grid-template-columns: repeat(1, 1fr);

	@include media-md {
		grid-template-columns: repeat(2, 1fr);
	}
}

.grid-3 {
	@extend .grid;
	grid-template-columns: repeat(1, 1fr);

	@include media-md {
		grid-template-columns: repeat(3, 1fr);
	}
}

.grid-4 {
	@extend .grid;
	grid-template-columns: repeat(1, 1fr);

	@include media-sm {
		grid-template-columns: repeat(2, 1fr);
	}

	@include media-md {
		grid-template-columns: repeat(4, 1fr);
	}
}
