/**
 * Testimonials Module Styles
 */
@use '../variables' as *;
@use '../mixins' as *;

.module-testimonials {
	padding: 60px 0;
	background-color: $color-light;

	@include media-lg {
		padding: 80px 0;
	}

	.testimonials-slider {
		margin-top: $spacing-xxl;
		position: relative;
	}

	.testimonial-item {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		transition: opacity 0.6s ease-in-out;

		&.active {
			opacity: 1;
			position: relative;
		}

		@include media-lg {
			display: grid;
			grid-template-columns: 1fr;
			gap: $spacing-xl;
		}
	}

	.testimonial-content {
		background-color: $color-white;
		padding: $spacing-xl;
		border-radius: $border-radius-lg;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

		.testimonial-text {
			font-size: 1.1rem;
			line-height: 1.8;
			color: $color-dark;
			font-style: italic;

			&::before {
				content: '"';
				font-size: 3rem;
				color: $color-primary;
				opacity: 0.3;
			}
		}
	}

	.testimonial-author {
		@include flex-between;
		margin-top: $spacing-lg;
		padding-top: $spacing-lg;
		border-top: 1px solid #eee;

		.author-image {
			width: 80px;
			height: 80px;
			border-radius: 50%;
			overflow: hidden;
			margin-right: $spacing-md;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.author-info {
			flex: 1;

			.author-name {
				font-size: 1rem;
				margin-bottom: $spacing-sm;
				color: $color-dark;
			}

			.author-title {
				font-size: 0.9rem;
				color: $color-secondary;
				margin-bottom: $spacing-sm;
			}

			.author-rating {
				font-size: 1rem;
				color: #ffc107;
			}
		}
	}
}
