/**
 * Grid System
 */
/**
 * Variables
 */
/**
 * Grid System
 */
/**
 * Mixins
 */
.grid, .grid-4, .grid-3, .grid-2 {
  display: grid;
  gap: 1rem;
}
@media (min-width: 768px) {
  .grid, .grid-4, .grid-3, .grid-2 {
    gap: 1.5rem;
  }
}

.grid-2 {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-3 {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid-4 {
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 576px) {
  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
